body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.form input, .form select, .form button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

#list {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

/* Date Section */
.date-section {
  background: white;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Amount styles */
.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

/* Daily total */
.daily-total {
  text-align: right;
  font-weight: bold;
  margin-top: 5px;
}